.section-title {
  text-align: center;
  margin-bottom: 48px;
}

.section-title-text {
  margin-bottom: 16px !important;
}

.section-subtitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 0 !important;
}

.dark .section-subtitle {
  color: rgba(255, 255, 255, 0.65);
}
